:root {
    --primary-color : #ffffff;
    --secondary-color : #f7f6ee;
    --font-color-primary: #302f32;
    --font-color-secondary: #666666;
    --font-color-active:rgb(145, 197, 154);
    --font-color-exclamation:#727597;
    --font-color-exclamationLight: #eceeff;
    --font-size-reg: 15px;
    --font-size-md: 22px;
    --font-size-sm: 10px;
    --font-size-xxl: 40px;

}

@font-face {
    font-family: "MainFont";
    src: url("./fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,body{
    width: 100%;
    height: 100%;
}

#container{
    display: flex;
    flex-direction: column;
    padding: 25px;
}

#nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#left-nav-div,#mid-nav-div,#right-nav-div{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
#mid-nav-div{
    gap: 30px;
    margin: 0px 50px;
}

#content-div{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    position: relative;
}
/* 
#footer{
}
 */

/* font styling */

.nav-circle{
    width: 15px;
    height: 15px;
    background-color: var(--font-color-active);
    border-radius: 3px;
    opacity: 0;
}
.nav-circle.active{
    transition: opacity 1s ease;
    animation: slideIn 0.2s ease;
    opacity: 1;
}

.nav-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.form-label{
    font-size: 18px;
    font-family: "MainFont";
    font-weight: 750;
    text-align: center;
}

.label{
    font-size: var(--font-size-md);
    color: var(--font-color-primary);
    font-family: "MainFont";
    font-weight: 900;
}
.label-header{
    font-size: var(--font-size-xxl);
    color: var(--font-color-primary);
    font-family: "MainFont";
    font-weight: 700;
    font-size: 50px;
}
.description-label{
    font-size: var(--font-size-sm);
    color: var(--font-color-secondary);
    font-family: "MainFont";
}
.nav-label{
    font-size: var(--font-size-reg);
    color: var(--font-color-secondary);
    font-family: "MainFont";
}
.nav-label.active{
    color: var(--font-color-primary);
}
.btn-label{
    font-size: var(--font-size-reg);
    color: var(--font-color-primary);
    font-family: "MainFont";
    font-weight: 600;
}

#description-trial{
    font-family: "MainFont";
}

/* button styling */

.btn{
    width: 130px;
    height: 50px;
    border: 0.5px solid var(--font-color-secondary);
    border-radius: 10px;
    padding: 0px 5px;
    background-color: var(--primary-color);
}
#trial-btn{
    background-color: var(--secondary-color);
    border: 0.5px solid var(--font-color-secondary);
    border-radius: 10px;
}
#trial-btn:hover{
    background-color: var(--font-color-primary);
}
.big-btn{
    width: 200px;
    height: 50px;

}
.round-btn{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 0.5px solid var(--font-color-secondary);
}

button:hover{
    transition: background-color 0.5s ease;
    background-color: #302f32;
    color: rgb(145, 197, 154);
}


/* img styling */

.img-content{
    width: 100%;
    height: 600px;
    object-fit:cover;
    border-radius: 10px;
}

/* nav buttons */

#main-title{
    cursor: pointer;
    
}

.icons {
    width: 25px;
    height: 25px;
}

.nav-title{
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-title.active{
    font-weight: 900;
    color: rgb(145, 197, 154);
}

.nav-title:hover{
    transition: font-weight 0.3s ease;
    font-weight: 900;
    cursor: pointer;
    color: rgb(145, 197, 154);
}

/* fade div */

.fade-div{
    position: absolute;
    height: 350px;
    width: 100%;
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    bottom: 0;
    left: 0;
    z-index: -1;
}

/* containers */

.basic-div-v{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
}

.icon-plattform{
    width: 150px;
    height: 150px;
    cursor: pointer;
}


#modal{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
    z-index: -100;
    justify-content: center;
    align-items: center;
    display: flex;
}
#modal.active{
    z-index: 1;
}

#contentModal{
    animation: 0.3s ease fromZeroToHero;
}


.modal-content-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    margin-top: 15px;
}

.img-background-div{
    width: 100%;
    position: absolute;
    z-index: -1;
}
.title-div{
    width: 500px;
}

.title-div.acitve{
    background-color: black;
    display: none;
}
.trial-div{
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    gap: 10px;
    align-items: center;
}
.trial-div.acitve{
    display: none;
}

.content-one{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 10px;
    height: 600px;
    align-items: center;
    position: relative;
}
#content-sec{
    width: 100%;
    border-radius: 10px;
    background-color: var(--font-color-active);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 50px;
}
#product-div{
    width: 350px;
}
#description-trial-div{
    flex-wrap: wrap;
    display: flex;

}
#scroll-up-div{
    position: fixed;
    top: 30px;
    left: 50%;
    right: 50%;
    background-color: var(--font-color-exclamation);
    width: 150px;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 30px;
    transition: background-color 0.3s ease;
    opacity: 0;
    z-index: -1;
}
#scroll-up-div.active{
    z-index: 1;
    animation: fromZeroToHero 0.6s forwards;
}
#scroll-up-div:hover{
    transition: background-color 0.3s ease;
    background-color: var(--font-color-exclamationLight);
    cursor: pointer;
}
#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: var(--secondary-color);
    padding: 30px;
    border-radius: 10px;
}
.input-form{
    border: none;
    font-size: 15px;
    font-family: "MainFont";
    font-weight: 900;
}
.input-form::placeholder{
    font-weight: 750;
    font-family: "MainFont";
}
.input-form:focus{
    border: none;
    outline: none;
}
.form-div{
    background-color: var(--primary-color);
    width: 300px;
    height: 50px;
    align-items: center;
    display: flex;
    border-radius: 10px;
    padding: 0px 30px;
    gap: 15px;

}
.form-icon{
    width: 15px;
    height: 15px;
}

@keyframes fromZeroToHero {
    0%{
        opacity: 0;
    }
    100%{

        opacity: 1;
    }
}

@keyframes slideIn {
    0%{
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(0px);
    }
}